@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

:root{
    box-sizing: border-box;
    --dark: #22223b;
    --light: #f2e9e4;
    --mid: #9a8c98;
    --mid-dark: #4a4e69;
    --mid-light: #c9ada7;
    --accent: #af4d8c;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: var(--dark);
}

body{
    max-width: 980px;
    margin: 0 auto;
    padding: 2%;
    color: var(--light);
    background-color: var(--mid-dark);
}

h1, h2, h3, a{
    font-family: 'Mouse Memoirs', sans-serif;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 2rem;
    border: 0;
    padding: 20px;
}

h3{
    font-size: 1.3rem;
}

ul{
    display: flex;
    justify-content: space-around;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--mid-dark);
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: var(--light);
    transition: ease-in-out .2s;
}

a:hover{
    text-decoration: underline;
    text-shadow: 3px 3px 0px var(--mid);
}

a:active{
    color: var(--mid);
}

nav{
    width: 100%;
    font-size: 1.75rem;
}

header li{
    list-style-type: none;
    display: inline;
    margin: 2%;
}

#about{
    display: flex;
    background-color: var(--mid);
    border-radius: 20px;
    margin-bottom: 20px;
}

#about img{
    width: 33%;
    object-fit: cover;
    margin: 2%;
}

#subproject{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects{
    display: flex;
    flex-direction: column;
}

#project_one{
    border: 5px solid var(--dark);
    border-radius: 10px;
}
#project_one img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

#project_one h3{
    border: 0;
}

.project{
    display: flex;
    object-fit: cover;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.project img{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.project_info{
    background-color: var(--dark);
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}

.project_info{
    margin: 10px;
    display: none;
}

/*.project:hover .project_info{
    display: flex;
    flex-direction: column;

}
*/
.project h3{
    padding: 20px;
    border-bottom: 5px solid var(--mid);
}


hr{
    border-top: 5px solid var(--accent);
    border-radius: 2px;
    margin: 0;
}

#contact{
    padding: 1rem 0;
}

#contact h2{
    text-align: center;
    margin-bottom: 1rem;
    background-color: var(--dark);
    padding: 10px 0;
}

#contact ul{
    justify-content: space-around;
}

#contact a{
    font-size: 1.5rem;
}

footer{
    background-color: #22223b;
    padding: 10px;
    text-align: center;
}

#contact_form{
    display: flex;
}

#contact_form img{
    width: 50%;
}

#contact_form form{
    width: 50%;
    padding: 20px;
}

#contact_form ul{
    display: flex;
    flex-direction: column;
    height: 100%;
}

textarea{
    display: block;
}

label{
    display: flex;
    flex-direction: column;
}





@media only screen and (max-width: 550px) {
    .project{
     width: 100%;
   }
     #about{
         flex-direction:column;
         align-items: center;
     }
 
     #about img{
         width: 90%;
     }
 
     h1{
         text-align:center
     }

     #contact_form{
        flex-direction: column;
        align-items: center;

    }
     
 }