@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mouse+Memoirs&display=swap');
:root{
    box-sizing: border-box;
    --dark: #22223b;
    --light: #f2e9e4;
    --mid: #9a8c98;
    --mid-dark: #4a4e69;
    --mid-light: #c9ada7;
    --accent: #af4d8c;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: var(--dark);
}

body{
    max-width: 980px;
    margin: 0 auto;
    padding: 2%;
    color: var(--light);
    background-color: var(--mid-dark);
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, a{
    font-family: 'Mouse Memoirs', sans-serif;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 2rem;
    border: 0;
    padding: 20px;
}

h3{
    font-size: 1.3rem;
}

ul{
    display: flex;
    justify-content: space-around;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--mid-dark);
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: var(--light);
    transition: ease-in-out .2s;
}

a:hover{
    text-decoration: underline;
    text-shadow: 3px 3px 0px var(--mid);
}

a:active{
    color: var(--mid);
}

nav{
    width: 100%;
    font-size: 1.75rem;
}

header li{
    list-style-type: none;
    display: inline;
    margin: 2%;
}

#about{
    display: flex;
    background-color: var(--mid);
    border-radius: 20px;
    margin-bottom: 20px;
}

#about img{
    width: 33%;
    object-fit: cover;
    margin: 2%;
}

#subproject{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects{
    display: flex;
    flex-direction: column;
}

#project_one{
    border: 5px solid var(--dark);
    border-radius: 10px;
}
#project_one img{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

#project_one h3{
    border: 0;
}

.project{
    display: flex;
    object-fit: cover;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.project img{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.project_info{
    background-color: var(--dark);
    overflow: hidden;
    border-radius: 10px;
}

.project_info{
    margin: 10px;
}

/*.project:hover .project_info{
    display: flex;
    flex-direction: column;

}
*/


hr{
    border-top: 5px solid var(--accent);
    border-radius: 2px;
    margin: 0;
}

#contact{
    padding: 1rem 0;
    background-color: var(--mid);
    margin-top: 20px;
}

#contact h2{
    text-align: center;
    background-color: var(--dark);
    margin-top: -20px;
}

#contact ul{
    justify-content: space-around;
}

#bar{
    margin: 20px 0;
}

#contact a{
    font-size: 1.5rem;
}

#contact a:hover{
    text-shadow: 3px 3px 0px var(--dark);
}

footer{
    background-color: #22223b;
    padding: 10px;
    text-align: center;
}

input[type="submit"]{
    background-color: var(--mid-dark);
    border: 5px solid white;
    border-radius: 20px;
    color: white;
    padding: 10px 20%;
    cursor: pointer;
}

#contact_form{
    display: flex;
}

#contact_form img{
    width: 50%;
    border-radius: 13px;
    margin: 0 20px;
}

#contact_form form{
    width: 50%;
    padding-right: 20px;
}

#contact_form ul{
    display: flex;
    flex-direction: column;
    height: 100%;
}

textarea{
    display: block;
}

label{
    display: flex;
    flex-direction: column;
}


/*testing text hover
SOURCE:
https://code-boxx.com/text-over-image-hover-html-css/ */

.project{
    position: relative;
}

.project_info{
/* (C1) DIMENSIONS */
  box-sizing: border-box;
  height: 90%;
  width: 91.5%;
  padding:20px;
  margin: 20px;
 
  /* (C2) POSITION */
  position: absolute;
  top: 0; left: 0;
  text-align: center;
 
   /* (C3) COLORS */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.project_info{
    visibility: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover .project_info{
    visibility: visible;
    opacity: 1;
}







@media only screen and (max-width: 550px) {
    .project{
     width: 100%;
   }
     #about{
         flex-direction:column;
         align-items: center;
     }
 
     #about img{
         width: 90%;
     }
 
     h1{
         text-align:center
     }

     #contact_form{
        flex-direction: column;
        align-items: center;

    }
     
 }